<div class="card componentStyle">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>EmailId</th>
                <th>Department</th>
                <th> Reason</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>ReportingPerson</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leave of lstLeave">

                <td>{{leave.emailId}}</td>
                <td>{{leave.department}}</td>
                <td>{{leave.reason}}</td>
                <td>{{leave.fromDate}}</td>
                <td>{{leave.toDate}}</td>
                <td>{{leave.reportingPerson}}</td>
                <td>{{leave.status}}</td>
                <td>
                    <a [routerLink]="['/leave',leave.leaveId]" class="btn btn-info"><i class="fas fa-eye"></i></a>
                    &nbsp;
                    <a (click)="approveLeaveRequest(leave)" class="btn btn-success"><i
                            class="far fa-check-circle"></i></a>
                    &nbsp;
                    <a (click)="rejectLeaveRequest(leave)" class="btn btn-danger"><i
                            class="far fa-times-circle"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>