<div class="card componentStyle">
    <div style="text-align: right;margin-bottom: 5px;">
        <a data-bs-toggle="modal" (click)="addEmployee()" data-bs-target="#mpEmployee" class="btn btn-primary">
            <i class="fas fa-plus"></i>&nbsp; ADD
        </a>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Email Address</th>
                <th>Department</th>
                <th>FullName</th>
                <th>Reporting Person</th>
                <th>Role</th>
                <th>Action(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of lstEmployee |paginate: { itemsPerPage: 5, currentPage: currentPage}">
                <td>{{employee.emailAddress}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.fullName}}</td>
                <td>{{employee.reportingPerson}}</td>
                <td>{{employee.role}}</td>
                <td>
                    <a [routerLink]="['/employee',employee.employeeId]" class="btn btn-info"><i
                            class="fas fa-eye"></i></a>&nbsp;
                    <a (click)="editEmployee(employee)" data-bs-toggle="modal" data-bs-target="#mpEmployee"
                        class="btn btn-secondary"><i class="fas fa-pen-square"></i></a>&nbsp;
                    <a (click)="deleteEmployee(employee.employeeId)" class="btn btn-danger"><i
                            class="fas fa-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center;">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="mpEmployee" tabindex="-1" aria-labelledby="mpEmployeeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mpEmployeeTitle">{{title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="employeeForm">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="txtemailAddress" class="col-form-label">EmailAddress:</label>
                                        <input [(ngModel)]="employeeModel.emailAddress" formControlName="emailAddress"
                                            name="txtemailAddress" class="form-control" id="txtemailAddress">
                                        <div class="alert alert-danger"
                                            *ngIf="emailAddress.touched && emailAddress.invalid">
                                            * Email Address required
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="txtFirstName" class="col-form-label">FirstName:</label>
                                        <input [(ngModel)]="employeeModel.firstName" formControlName="firstName"
                                            class="form-control">
                                        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                                            * First Name required
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="txtLastName" class="col-form-label">LastName:</label>
                                        <input [(ngModel)]="employeeModel.lastName" name="txtLastName"
                                            class="form-control" id="txtLastName" formControlName="lastName">
                                        <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                                            * last Name required
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="txtFullName" class="col-form-label">Full Name:</label>
                                        <input [(ngModel)]="employeeModel.fullName" formControlName="fullName"
                                            class="form-control" id="txtFullName">
                                        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">
                                            * full Name required
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="txtPassword" class="col-form-label"> Password:</label>
                                        <input [(ngModel)]="employeeModel.password" type="password"
                                            formControlName="password" name="txtPassword" class="form-control"
                                            id="txtPassword">
                                        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                            * Password required
                                        </div>
                                    </div>
                                </td>
                        </table>
                    </form>
                    <div class="form-group">
                        <label for="drpDepartment" class="col-form-label">Department:</label>
                        <select id="drpDepartment" class="form-control" [(ngModel)]="selectedDepartment"
                            (ngModelChange)="onDepartmentChange($event)">
                            <option *ngFor="let dept of lstDepartment" [ngValue]="dept">
                                {{dept.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtRole" class="col-form-label">Role:</label>
                        <select class="form-control" [ngModel]="selectedRole" (ngModelChange)="onRoleChange($event)">
                            <option *ngFor="let role of lstRole" [ngValue]="role">{{role.text}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtReportingPerson" class="col-form-label">ReportingPerson:</label>
                        <select class="form-control" [(ngModel)]="selectedReportingPerson"
                            (ngModelChange)="onReportingPersonChange($event)">
                            <option *ngFor="let emp of lstAdminRole" [ngValue]="emp">
                                {{emp.fullName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer" style="margin-right: 30%;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="saveEmployee()" class="btn btn-primary"
                        data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>