<div class="card text-center">
    <div class="card-header" style="background-color: cyan;">
        <h2>Employee Details</h2>
    </div>
    <table class="table">
        <thead class="table-danger">
            <tr>
                <th>DepartmentId</th>
                <th>EmailAddress</th>
                <th>FirstName</th>
                <th>FullName</th>
                <th>LastName</th>
                <th>Password</th>
                <th>ReportingPersonId</th>
                <th>Role</th>
            </tr>
        </thead>
        <tr>
            <td>{{employeeModel.departmentId}}</td>
            <td>{{employeeModel.emailAddress}}</td>
            <td>{{employeeModel.firstName}}</td>
            <td>{{employeeModel.fullName}}</td>
            <td>{{employeeModel.lastName}}</td>
            <td>{{employeeModel.password}}</td>
            <td>{{employeeModel.reportingPersonId}}</td>
            <td>{{employeeModel.role}}</td>
        </tr>
    </table>
</div>