<div class="card text-center">
    <div class="card-header" style="background-color: cyan;">
        <h2>Employee Details</h2>
    </div>
    <h5>Department:-{{employeeModel.department}}</h5>
    <h5>EmailAddress:-{{employeeModel.emailAddress}}</h5>
    <h5>FirstName:-{{employeeModel.firstName}}</h5>
    <h5>FullName:-{{employeeModel.fullName}}</h5>
    <h5>LastName:-{{employeeModel.lastName}}</h5>
    <h5>Password:-{{employeeModel.password}}</h5>
    <h5>Reporting Person:-{{employeeModel.reportingPerson}}</h5>
    <h5>Rore:-{{employeeModel.role}}</h5>
</div>