<div class="card text-center">
    <div class="card-header">
        <h2>Department Details</h2>
    </div>
    <table>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Id :
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px;">
                {{departmentModel.id}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Name :
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{departmentModel.name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Description:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{departmentModel.description}}
            </td>
        </tr>

    </table>

</div>