<div class="card text-center">
    <div class="card-header" style="background-color: cyan;">
        <h2>Leave Details</h2>
    </div>
    <h5>Department:-{{leaveModel.department}}</h5>
    <h5>Employee Name:-{{leaveModel.employeeName}}</h5>
    <h5>Email Id:-{{leaveModel.emailId}}</h5>
    <h5>Reason:-{{leaveModel.reason}}</h5>
    <h5>Description:-{{leaveModel.description}}</h5>
    <h5>From Date:-{{leaveModel.fromDate}}</h5>
    <h5>To Date:-{{leaveModel.toDate}}</h5>
    <h5>No Of Days:-{{leaveModel.noOfDays}}</h5>
    <h5>ReportingPerson:-{{leaveModel.reportingPerson}}</h5>
    <h5>Status:-{{leaveModel.status}}</h5>
</div>