<div class="card text-center">
    <div class="card-header">
        <h2>Leave Details</h2>
    </div>
    <table>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Department :
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px;">
                {{leaveModel.department}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Employee Name:
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.employeeName}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Email Id:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.emailId}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Reason :
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.reason}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Description:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.description}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                From Date:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.fromDate}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                To Date:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.toDate}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                No Of Days:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.noOfDays}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                ReportingPerson :
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.reportingPerson}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;width: 40%;padding: 5px;">
                Status:
            </td>
            <td style="font-weight: bold;text-align: left;width: 40%;padding: 5px">
                {{leaveModel.status}}
            </td>
        </tr>
    </table>
</div>