<h1 style="text-align: center;color:cornsilk;">Human Resource Management System</h1>

<div class="container">
    <nav [ngClass]="{'showNavBar': IsLoggedIn, 'hideNavBar' : IsLoggedIn === false }"
        class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3>HRMS</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li *ngIf="Role!='employee' && Role!='manager'" class="nav-item">
                        <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
                    </li>
                    <li *ngIf="Role!='employee' && Role!='manager'" class="nav-item">
                        <a class="nav-link" routerLink='/department' routerLinkActive='active'>Department</a>
                    </li>
                    <li *ngIf="Role!='employee'" class="nav-item">
                        <a class="nav-link" routerLink='/employee' routerLinkActive='active'>Employee</a>
                    </li>
                    <li *ngIf="Role!='super-admin'" class="nav-item">
                        <a class="nav-link" routerLink='/leave' routerLinkActive='active'>My Leaves</a>
                    </li>
                    <li *ngIf="Role!='employee'" class="nav-item">
                        <a class="nav-link" routerLink='/leave-request' routerLinkActive='active'>Leave-request</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/profile' routerLinkActive='active' style="margin-top: 5px;"><i
                                class="fas fa-user-circle"></i>User Profile</a>
                    </li>
                    <li class="nav-item">
                        <a style="cursor: pointer;" class="nav-link" (click)="logout()"><button
                                class="btn btn-light">Logout</button></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>