<div class="card componentStyle">
    <div class="card text-center col-sm-6" style="margin: auto;">
        <div class="card-header" style="font-weight: bold;">
            My Profile
        </div>
        <div>
            <div class=" card">
                <table>
                    <tr>
                        <td style="text-align: right;width: 50%;padding: 5px;">
                            First Name :
                        </td>
                        <td style="font-weight: bold;text-align: left;width: 50%;padding: 5px;">
                            {{employee.firstName}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 50%;padding: 5px;">
                            Last Name :
                        </td>
                        <td style="font-weight: bold;text-align: left;width: 50%;padding: 5px">
                            {{employee.lastName}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 50%;padding: 5px;">
                            Full Name :
                        </td>
                        <td style="font-weight: bold;text-align: left;width: 50%;padding: 5px">
                            {{employee.fullName}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 50%;padding: 5px;">
                            Email Address :
                        </td>
                        <td style="font-weight: bold;text-align: left;width: 50%;padding: 5px">
                            {{employee.emailAddress}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 50%;padding: 5px;">
                            Password :
                        </td>
                        <td style="font-weight: bold;text-align: left;width: 50%;padding: 5px">
                            {{employee.password}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>