/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("../src/assets/bg.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 700px;
}